@tailwind base;
@tailwind components;
@tailwind utilities;
/* Monaco editor customized */
.monaco-editor {
  border-radius: 10px;
}
.overflow-guard {
  border-radius: 10px;
}
.slider {
  border-radius: 10px;
}
/* NavLink active URL */
.active {
  color: rgb(197, 102, 34);
}
/* animation for Javascript End Section */
.animated-background {
  background: url("lightweb.svg") repeat 0 0;
  background-size: 150px 150px;
  animation: bg-animated 15s infinite linear;
}
@keyframes bg-animated {
  100% {
    background-position: 0 -150px; /* img width is 26px */
  }
}
